@import 'material';

@font-face {
    font-family: 'roboto';
    src: url('/resources/fonts/roboto-regular-webfont.eot');
    src: url('/resources/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/resources/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/resources/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('/resources/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('/resources/fonts/roboto-bold-webfont.eot');
    src: url('/resources/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/resources/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/resources/fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('/resources/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('/resources/fonts/Roboto-Thin-webfont.eot');
    src: url('/resources/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('/resources/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('/resources/fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$ease-out-quart: ease-out;
$ease-in-quart:  ease-in;

body {
    background-color: rgb(220, 220, 220);
    overflow-x: hidden;
    font-family: "robotothin", sans-serif;
    font-weight: 100;
    color: rgb(90, 90, 90);
    margin: 0px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0.2);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

header#app_toolbar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 28px;
    z-index: 1;
    display: block;
    color: rgb(250, 250, 250);
    background-color: $primary;
    padding: 21px 38px 21px 38px;
    font-size: 27px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: default;

    #nav_drawer_icon {
        position: absolute;
        margin-top: -14px;
        opacity: 0;
        width: 60px;
        height: 60px;
        border: 0;
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        border-radius: 35px;
        margin-left: -35px;

        transition: opacity 0.5s, background-color 0.2s;;
        -moz-transition: opacity 0.5s, background-color 0.2s;;
        -webkit-transition: opacity 0.5s, background-color 0.2s;;
        -o-transition: opacity 0.5s, background-color 0.2s;;

        &:focus {
            outline: 0 !important;
        }
        &:active {
            background-color: rgba(153, 153, 153, 0.4);
        }
    }
    #app_title {
        margin-top: -3px;
        margin-left: 0px;

        transition: margin-left 0.5s;
        -moz-transition: margin-left 0.5s;
        -webkit-transition: margin-left 0.5s;
        -o-transition: margin-left 0.5s;
    }
    #menu_items {
        position: absolute;
        right: 97px;
        top: 5px;
        width: 300px;
        height: 60px;
        text-align: right;

        .menu_item {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 0;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            border-radius: 35px;
            margin-left: -20px;

            transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -webkit-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;

            &:focus {
                outline: 0 !important;
            }
            &:active {
                background-color: rgba(153, 153, 153, 0.4);
            }

            .icon {

            }
            .name {
                display: none;
                font-family: "robotothin", sans-serif;
                font-weight: 100;
            }
        }
        #overflow {
            display: inline-block;
            position: relative;
            top: -15px;
            width: 60px;
            height: 60px;
            border: 0;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            border-radius: 35px;
            margin-left: -20px;

            transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -webkit-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;

            &>.icon {
                position: relative;
                top: 16px;
                left: -17px;
                pointer-events: none;
            }
            &:focus {
                outline: 0 !important;
            }
            &:active {
                background-color: rgba(153, 153, 153, 0.4);
            }

            #overflow_menu {
                display: none;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 200px;
                height: 0px;
                overflow-y: hidden;
                border-radius: 2px;
                background-color: rgb(230, 230, 230);
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);

                transition: height 0.2s;
                -moz-transition: height 0.2s;
                -webkit-transition: height 0.2s;
                -o-transition: height 0.2s;

                &[open] {
                    display: block;
                    height: auto;
                }

                .menu_item {
                    display: block;
                    color: rgb(90, 90, 90);
                    height: 50px;
                    width: 100%;
                    margin-left: 0px;
                    border-radius: 0px;
                    text-align: left;

                    .icon {
                        display: none;
                    }
                    .name {
                        margin-left: 15px;
                        font-size: 17px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

#content {
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    overflow: hidden;
}

navigation-drawer {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 295px;
    z-index: 3;

    background-color: rgb(225, 225, 225);
    overflow-x: visible;

    transition: margin-left 0.5s $ease-out-quart;
    -moz-transition: margin-left 0.5s $ease-out-quart;
    -webkit-transition: margin-left 0.5s $ease-out-quart;
    -o-transition: margin-left 0.5s $ease-out-quart;

    &[open] {
        margin-left: 0px;

        #FAB {
            margin-right: 10px;
        }
    }

    #FAB {
        position: absolute;
        right: -37px;
        bottom: 25px;
        z-index: 2;

        transition: margin-right 0.5s $ease-out-quart;
        -moz-transition: margin-right 0.5s $ease-out-quart;
        -webkit-transition: margin-right 0.5s $ease-out-quart;
        -o-transition: margin-right 0.5s $ease-out-quart;
    }

    chats-list {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-y: auto;

        .chat {
            position: relative;
            display: block;
            width: 100%;
            height: 70px;
            overflow: hidden;

            cursor: default;
            background-color: rgb(240, 240, 240);
            border-bottom: 1px solid rgb(150, 150, 150);

            transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -webkit-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;

            &[open] {
                background-color: rgb(200, 200, 200);

                .status {
                    border-color: rgb(200, 200, 200);
                }
            }
            &:active {
                background-color: rgb(200, 200, 200);

                .status {
                    border-color: rgb(200, 200, 200);
                }
            }

            .icon {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 50px;
                height: 50px;

                background-repeat: no-repeat;
                background-origin: content-box;
                background-size: cover;
                border-radius: 35px;
            }
            .status {
                position: absolute;
                left: 45px;
                top: 45px;
                width: 12px;
                height: 12px;

                border-radius: 10px;
                border: solid 2px rgb(240, 240, 240);

                transition: border-color 0.2s, background-color 0.2s;
                -moz-transition: border-color 0.2s, background-color 0.2s;
                -webkit-transition: border-color 0.2s, background-color 0.2s;
                -o-transition: border-color 0.2s, background-color 0.2s;

                &[online-status="online"] {
                    background-color: rgb(0, 200, 0);
                }
                &[online-status="away"] {
                    background-color: rgb(230, 200, 0);
                }
                &[online-status="offline"] {
                    background-color: rgb(150, 150, 150);
                }
            }
            .name {
                position: absolute;
                left: 70px;
                top: 10px;
                width: 170px;
                overflow-x: hidden;
            }
            .lastMessage {
                position: absolute;
                left: 70px;
                bottom: 10px;
                width: 180px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
            }
            .time {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 45px;
                overflow-x: hidden;

                text-align: right;
                font-size: 12px;
            }
            .muted {
                position: absolute;
                right: 10px;
                bottom: 10px;
                opacity: 0;

                transition: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;

                &[chat-status="muted"] {
                    opacity: 1;
                }
            }
        }
    }
}

#chat {
    position: absolute;
    left: 295px;
    right: 300px;
    top: 0px;
    bottom: 0px;
    z-index: 1;

    background-color: rgb(250, 250, 250);

    transition: left 0.5s $ease-out-quart, right 0.5s $ease-out-quart;
    -moz-transition: left 0.5s $ease-out-quart, right 0.5s $ease-out-quart;
    -webkit-transition: left 0.5s $ease-out-quart, right 0.5s $ease-out-quart;
    -o-transition: left 0.5s $ease-out-quart, right 0.5s $ease-out-quart;

    chat-history {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 30px;
        margin: 0px 0px 20px 20px;
        padding: 20px 20px 0px 0px;

        vertical-align: bottom;
        overflow-y: scroll;

        .message {
            position: relative;
            display: block;
            width: 100%;
            min-height: 45px;
            height: auto;

            &[sender=other] {
                .icon {
                    left: 0px;
                    right: auto;
                }
                .text {
                    left: 45px;
                    right: auto;
                    background-color: rgb(225, 225, 225);
                    padding: 7px 10px 3px 15px;

                    -webkit-touch-callout: auto;
                    -webkit-user-select: auto;
                    -khtml-user-select: auto;
                    -moz-user-select: auto;
                    -ms-user-select: auto;
                    user-select: auto;

                    &::before {
                        content: " ";
                        position: absolute;
                        bottom: 0px;
                        left: -12px;
                        z-index: 1;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 12px 12px;
                        border-color: transparent transparent #e0e1e1 transparent;
                    }
                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: 1px;
                        left: -11px;
                        z-index: 0;
                        width: 10px;
                        height: 1px;
                        background-color: transparent;
                        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.9);
                    }
                    &::selection {
                        background: lighten($complement-1, 15%);
                    }
                    &::-moz-selection {
                        background: lighten($complement-1, 15%);
                    }
                }
            }
            &[sender=you] {
                .icon {
                    left: auto;
                    right: 0px;
                }
                .text {
                    left: auto;
                    right: 45px;
                    background-color: lighten($complement-1, 15%);
                    padding: 7px 15px 3px 10px;

                    -webkit-touch-callout: auto;
                    -webkit-user-select: auto;
                    -khtml-user-select: auto;
                    -moz-user-select: auto;
                    -ms-user-select: auto;
                    user-select: auto;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: 0px;
                        right: -12px;
                        z-index: 1;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 12px 12px 0px;
                        border-color: transparent transparent lighten($complement-1, 15%) transparent;
                    }
                    &::before {
                        content: " ";
                        position: absolute;
                        bottom: 1px;
                        right: -11px;
                        z-index: 0;
                        width: 10px;
                        height: 1px;
                        background-color: transparent;
                        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.9);
                    }
                    &::selection {
                        background: rgb(225, 225, 225);
                    }
                    &::-moz-selection {
                        background: rgb(225, 225, 225);
                    }
                }
            }

            .icon {
                position: absolute;
                bottom: 15px;
                width: 30px;
                height: 30px;

                background-repeat: no-repeat;
                background-origin: content-box;
                background-size: cover;
                border-radius: 15px;
            }
            .text {
                position: absolute;
                bottom: 17px;
                min-height: 20px;
                max-width: 70%;
                vertical-align: bottom;
                text-align: left;

                white-space: pre-wrap;

                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
            }
            .attachment {
                display: inline-block;
                position: relative;
                left: 0px;
                top: 0px;
                width: auto;
                height: auto;
                margin-bottom: 5px;

                img {
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }
    }
    #messageContainer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        background-color: rgb(240, 240, 240);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        border-top: 1px $complement solid;

        #message {
            margin: 0px 20px 20px 40px;

            transition: margin-left 0.5s;
            -moz-transition: margin-left 0.5s;
            -webkit-transition: margin-left 0.5s;
            -o-transition: margin-left 0.5s;

            form {
                position: relative;
                bottom: 0px;

                .messageBox {
                    position: absolute;
                    left: 0px;
                    right: 80px;
                    bottom: 15px;

                    #send_message {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        width: 100%;
                        height: 45px;
                    }
                }
                #send_media_dialogue {
                    display: none;
                    position: absolute;
                    bottom: 100%;
                    margin-bottom: 28px;
                    right: 30px;
                    width: 180px;
                    height: 130px;
                    padding: 10px;

                    border-radius: 2px;
                    background-color: rgb(240, 240, 240);
                    border: 1px $complement solid;
                    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                    z-index: 101;

                    &::after {
                        content: " ";
                        position: absolute;
                        right: 11px;
                        bottom: -9px;
                        width: 15px;
                        height: 15px;
                        transform: rotate(45deg);

                        background-color: rgb(240, 240, 240);
                        border-bottom: 1px $complement solid;
                        border-right: 1px $complement solid;
                        box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
                    }
                    &[open] {
                        display: block;
                    }
                    &[previewing] {

                        button {
                            display: none;
                        }

                        #send_media_dialogue_preview_img {
                            display: block;
                        }
                        #send_media_dialogue_cancel {
                            display: block;
                        }
                    }

                    button {
                        position: absolute;
                        left: 50px;
                        top: 50px;
                        overflow: hidden;

                        input.upload {
                            position: absolute;
                            height: 50px;
                            top: 0;
                            right: 0;
                            margin: 0;
                            padding: 0;
                            cursor: pointer;
                            opacity: 0;
                            filter: alpha(opacity=0);
                        }
                    }
                    #send_media_dialogue_preview_img {
                        display: none;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        z-index: 1;

                        background-size: cover;
                        background-position: center;
                    }
                    #send_media_dialogue_cancel {
                        display: none;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        margin: 5px;
                        width: 20px;
                        height: 20px;
                        z-index: 3;

                        font-size: 20px;
                        color: white;
                        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                        cursor: hand;
                    }
                }
                #send_attach {
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    width: 40px;
                    height: 40px;

                    font-size: 20px;
                    color: inherit;
                    background-color: transparent;
                    border: 0px;
                    border-radius: 20px;

                    transition: background-color 0.2s;
                    -moz-transition: background-color 0.2s;
                    -webkit-transition: background-color 0.2s;
                    -o-transition: background-color 0.2s;

                    &:focus {
                        outline: 0 !important;
                    }
                    &:active {
                        background-color: rgb(200, 200, 200);
                    }
                }
                #send_submit {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 40px;
                    height: 40px;

                    font-size: 20px;
                    color: inherit;
                    background-color: transparent;
                    border: 0px;
                    border-radius: 20px;

                    transition: background-color 0.2s;
                    -moz-transition: background-color 0.2s;
                    -webkit-transition: background-color 0.2s;
                    -o-transition: background-color 0.2s;

                    &:focus {
                        outline: 0 !important;
                    }
                    &:active {
                        background-color: rgb(200, 200, 200);
                    }
                }
            }
        }
    }
}

right-sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgb(225, 225, 225);

    transition: margin-right 0.5s $ease-out-quart;
    -moz-transition: margin-right 0.5s $ease-out-quart;
    -webkit-transition: margin-right 0.5s $ease-out-quart;
    -o-transition: margin-right 0.5s $ease-out-quart;

    .icon {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 50px;
        height: 50px;

        background-repeat: no-repeat;
        background-origin: content-box;
        background-size: cover;
        border-radius: 35px;
    }
    .status {
        position: absolute;
        left: 45px;
        top: 45px;
        width: 12px;
        height: 12px;

        border-radius: 10px;
        border: solid 2px rgb(225, 225, 225);

        transition: border-color 0.2s, background-color 0.2s;
        -moz-transition: border-color 0.2s, background-color 0.2s;
        -webkit-transition: border-color 0.2s, background-color 0.2s;
        -o-transition: border-color 0.2s, background-color 0.2s;

        &[online-status="online"] {
            background-color: rgb(0, 200, 0);
        }
        &[online-status="away"] {
            background-color: rgb(230, 200, 0);
        }
        &[online-status="offline"] {
            background-color: rgb(150, 150, 150);
        }
    }
    .name {
        position: absolute;
        left: 70px;
        top: 10px;
        width: 170px;
        overflow-x: hidden;
    }
    .lastActive {
        position: absolute;
        left: 70px;
        top: 35px;
        width: 200px;
        overflow-x: hidden;
        font-size: 14px;
    }
    .muteIcon {
        position: absolute;
        top: 98px;
        left: 125px;
    }
    .mute {
        position: absolute;
        top: 98px;
        left: 150px;

        label {
            height: 10px !important;
            width: 34px !important;
        }
    }
    .call {
        position: absolute;
        top: 80px;
        left: 25px;
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 20px;
        color: #5a5a5a !important;
    }
    .profiles {
        position: absolute;
        top: 130px;
        width: 100%;
        padding: 20px;

        .profile {
            display: block;
            color: inherit;
            margin-bottom: 5px;
            transition: color 0.5s;
            -moz-transition: color 0.5s;
            -webkit-transition: color 0.5s;
            -o-transition: color 0.5s;

            .no-underline {
                opacity: 0;
            }
            i {
                text-decoration: none;
            }

            &:hover {
                color: $complement;
            }
        }
    }
}

#popup_new_chat {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 101;

    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;

    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;

    &[open] {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);

        .material.popup {
            margin-top: 100px;
            background-color: rgb(250, 250, 250);
        }
    }

    .material.popup {
        background-color: $complement;

        transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
    }

    form {
        position: relative;
        width: 100%;
        height: 100%;

        #start_username {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
        }
        #start_users_list {
            position: absolute;
            top: 35px;
            bottom: 40px;
            left: 0px;
            right: 0px;
            overflow-y: auto;
            overflow-x: hidden;

            .user {
                position: relative;
                display: block;
                width: 100%;
                height: 40px;
                overflow: visible;

                background-color: transparent;
                cursor: default;

                transition: background-color 0.2s;
                -moz-transition: background-color 0.2s;
                -webkit-transition: background-color 0.2s;
                -o-transition: background-color 0.2s;

                &[muted] {
                    .muted {
                        opacity: 1;
                    }
                }
                &[selected] {
                    background-color: rgb(200, 200, 200);
                }

                .icon {
                    position: absolute;
                    left: 45px;
                    top: 2px;
                    width: 30px;
                    height: 30px;

                    background-repeat: no-repeat;
                    background-origin: content-box;
                    background-size: cover;
                    border-radius: 35px;
                }
                .status {
                    position: absolute;
                    left: 66px;
                    top: 21px;
                    width: 8px;
                    height: 8px;

                    border-radius: 10px;
                    border: solid 2px rgb(240, 240, 240);

                    transition: border-color 0.2s;
                    -moz-transition: border-color 0.2s;
                    -webkit-transition: border-color 0.2s;
                    -o-transition: border-color 0.2s;

                    &[online-status="online"] {
                        background-color: rgb(0, 200, 0);
                    }
                    &[online-status="away"] {
                        background-color: rgb(230, 200, 0);
                    }
                    &[online-status="offline"] {
                        background-color: rgb(150, 150, 150);
                    }
                }
                .name {
                    position: absolute;
                    left: 100px;
                    top: 10px;
                    width: 300px;
                    overflow-x: hidden;
                }
                input[type="checkbox"] {
                    position: absolute;
                    left: 15px;
                    top: 8px;
                }
            }
        }
        #start_cancel {
            position: absolute;
            right: 192px;
            bottom: 0px;
        }
        #start_conversation {
            position: absolute;
            right: 0px;
            bottom: 0px;
            margin-left: -88px;
        }
    }
}

@media (max-width: 999px) {
    header#app_toolbar {
        #nav_drawer_icon {
            opacity: 1;
        }
        #app_title{
            margin-left: 25px;
        }
    }
    navigation-drawer {
        margin-left: -295px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

        transition: margin-left 0.5s $ease-in-quart;
        -moz-transition: margin-left 0.5s $ease-in-quart;
        -webkit-transition: margin-left 0.5s $ease-in-quart;
        -o-transition: margin-left 0.5s $ease-in-quart;

        #FAB {
            margin-right: 38px;
        }
    }
    #chat {
        left: 0px;

        transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -moz-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -webkit-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -o-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;

        #messageContainer #message {
            margin-left: 5px;
        }
    }
}

@media (max-width: 599px) {
    right-sidebar {
        margin-right: -300px;

        transition: margin-right 0.5s $ease-in-quart;
        -moz-transition: margin-right 0.5s $ease-in-quart;
        -webkit-transition: margin-right 0.5s $ease-in-quart;
        -o-transition: margin-right 0.5s $ease-in-quart;
    }
    #chat {
        right: 0px;

        transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -moz-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -webkit-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
        -o-transition: left 0.5s $ease-in-quart, right 0.5s $ease-in-quart;
    }
}




.material.popup {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 150px auto;
    padding: 30px 50px 30px 50px;
   // vertical-align: middle;

    background-color: rgb(250, 250, 250);
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    overflow: hidden;

    transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
}
